<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <title>audio</title>

</head>

<body>
	<h2>Audio</h2>

	<h4>Method 1</h4>
	<audio id='audio' src='../av/han.mp3' controls loop></audio>
	<br>

	<h4>Method 2</h4>
	<audio controls>
		<source src='../av/han.mp3' type='audio/mp3'>
	</audio>

	<h2>Video</h2>

	<h4>Method 1</h4>
	<video src='http://dl24.80s.im:920/1601/[Taylor.Swift]Out.Of.The.Woods/[Taylor.Swift]Out.Of.The.Woods.mp4' controls loop></video>
	<br>

	<h4>Method 2</h4>
	<video controls>
		<source src='http://dl24.80s.im:920/1601/[Taylor.Swift]Out.Of.The.Woods/[Taylor.Swift]Out.Of.The.Woods.mp4' type='video/ogg'>
	</video>
</body>

</html>
